<!-- Confirmation Variables -->

{{ $thanks := "Thanks For Reaching Out" }}
{{ $thanks2 := "You Can Expect To Hear Back From Us Within Two Business Days." }}
{{ $thanks3 := "We Look Forward To Speaking With You Soon!" }}


<!-- Confirmations Variables End -->

<section id="speciality" class="section feature feature-3 bg-white pb-80">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="heading heading-1 text-center">
                    <h1>{{$thanks}}</h2>
                    <br><h2>{{$thanks2}}</h2>
                    <br><h2>{{$thanks3}}</h2>
                </div>
            </div>
        </div>
    </div>
</section>