<section id="doctors" class="team bg-white">
    <div class="container">
      <div class="row clearfix">
        <div class="col-12 col-md-12 col-lg-12">
          <div class="heading heading-1 text-center">
            <h2 class="heading-title">{{.Get `title`}}</h2>
          </div>
        </div>
        <!-- .col-md-6 end -->
      </div>
      <!-- .row end -->
      <div class="row">
        <!-- Member #1 -->
        <div class="col-12 col-md-4 col-lg-4">
          <div class="member">
            <div class="member-img">
              <img src="assets/images/team/team-1.png" alt="member"/>
              <div class="member-overlay">
                <div class="member-social">
                  <div class=" pos-vertical-center">
                    <a href="#consultation">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#consultation">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#consultation">
                      <i class="fa fa-google-plus"></i>
                    </a>
                    <a href="#consultation">
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </div>
                </div>
              </div>
              <!-- .memebr-ovelay end -->
            </div>
            <!-- .member-img end -->
            <div class="member-info">
              <h5>{{.Get `staff1`}}
                <span>{{.Get `title1`}}</span></h5>
            </div>
            <!-- .member-info end -->
          </div>
          <!-- .member end -->
        </div>
        <!-- .col-md-3 end -->

        <!-- Member #2 -->
        <div class="col-12 col-md-4 col-lg-4">
          <div class="member">
            <div class="member-img">
              <img src="assets/images/team/team-2.png" alt="member"/>
              <div class="member-overlay">
                <div class="member-social">
                  <div class=" pos-vertical-center">
                    <a href="#consultation">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#consultation">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#consultation">
                      <i class="fa fa-google-plus"></i>
                    </a>
                    <a href="#consultation">
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </div>
                </div>
              </div>
              <!-- .memebr-ovelay end -->
            </div>
            <!-- .member-img end -->
            <div class="member-info">
              <h5>{{.Get `staff2`}}
                <span>{{.Get `title2`}}</span></h5>
            </div>
            <!-- .member-info end -->
          </div>
          <!-- .member end -->
        </div>
        <!-- .col-md-3 end -->

        <!-- Member #3 -->
        <div class="col-12 col-md-4 col-lg-4">
          <div class="member">
            <div class="member-img">
              <img src="assets/images/team/team-3.png" alt="member"/>
              <div class="member-overlay">
                <div class="member-social">
                  <div class=" pos-vertical-center">
                    <a href="#consultation">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#consultation">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#consultation">
                      <i class="fa fa-google-plus"></i>
                    </a>
                    <a href="#consultation">
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </div>
                </div>
              </div>
              <!-- .memebr-ovelay end -->
            </div>
            <!-- .member-img end -->
            <div class="member-info">
              <h5>{{.Get `staff3`}}
                <span>{{.Get `title3`}}</span></h5>
            </div>
            <!-- .member-info end -->
          </div>
          <!-- .member end -->
        </div>
        <!-- .col-md-3 end -->
      </div>
    </div>
  </section>