<section id="patients" class="section testimonials bg-gray">
    <div class="container">
      <div class="row clearfix">
        <div class="col-12 col-md-12 col-lg-12">
          <div class="heading heading-1 text-center">
            <h2 class="heading-title">{{.Get `title`}}</h2>
          </div>
        </div>
        <!-- .col-md-6 end -->
      </div>
      <!-- .row end -->
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <div class="carousel carousel-dots owl-carousel" data-slide="2" data-slide-rs="2" data-autoplay="true" data-nav="false" data-dots="true" data-space="30" data-loop="true" data-speed="800">

            <!-- Testimonial #1 -->
            <div class="testimonial-panel">
              <div class="testimonial-body">
                <p>{{.Get `testimonial_1`}}</p>
                <div class="testimonial-author">
                  <h5>{{.Get `name1`}}</h5>
                </div>
              </div>
            </div>

            <!-- Testimonial #2 -->
            <div class="testimonial-panel">
              <div class="testimonial-body">
                <p>{{.Get `testimonial_2`}}</p>
                <div class="testimonial-author">
                  <h5>{{.Get `name2`}}</h5>
                </div>
              </div>
            </div>

            <!-- Testimonial #3 -->
            <div class="testimonial-panel">
              <div class="testimonial-body">
                <p>{{.Get `testimonial_3`}}</p>
                <div class="testimonial-author">
                  <h5>{{.Get `name3`}}</h5>
                </div>
              </div>
            </div>

            <!-- Testimonial #4 -->
            <div class="testimonial-panel">
              <div class="testimonial-body">
                <p>{{.Get `testimonial_4`}}</p>
                <div class="testimonial-author">
                  <h5>{{.Get `name4`}}</h5>
                </div>
              </div>
            </div>

            <!-- Testimonial #5 -->
            <div class="testimonial-panel">
              <div class="testimonial-body">
                <p>{{.Get `testimonial_5`}}</p>
                <div class="testimonial-author">
                  <h5>{{.Get `name5`}}</h5>
                </div>
              </div>
            </div>

          </div>
          <!-- .carousel End -->
        </div>
      </div>
      <!-- .row End -->
    </div>
    <!-- .container End -->
  </section>